//variables de colores
$color_blanco: #F3F3F3;
$color_negro: black;
$blanco: white;
$fondo_header: #eeecf0;

//variables de fuente
$font: Georgia, 'Times New Roman', Times, serif;
$font_logo: Arial, Helvetica, sans-serif;