@charset "UTF-8";
*, a, p, ul, li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
}

header {
  height: 120px;
  background-color: #eeecf0;
}

.header_registro {
  height: 47px;
}

.Contenedor_registro {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 7%;
  height: 45px;
}
.Contenedor_registro:hover {
  background-color: rgb(41, 40, 40);
}
.Contenedor_registro img {
  width: 30px;
  height: 30px;
}
.Contenedor_registro li {
  display: flex;
  align-items: center;
  width: 215px;
  height: 40px;
  border-top: 1px solid rgb(150, 150, 150);
}
.Contenedor_registro li:hover {
  background-color: rgb(41, 40, 40);
}
.Contenedor_registro li a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  margin: 15px 3px;
  padding: 2px 2px;
  color: #eeecf0;
}
.Contenedor_registro li a:hover {
  text-decoration: underline;
  color: white;
}

.Contenedor_titulo_pagina {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.Titulo_pagina {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
  font-weight: bold;
  margin: 0px;
  color: black;
}

.Nav_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: black;
  box-shadow: rgb(150, 150, 150) 1px 1px 5px;
  position: fixed;
}

.Contenedor_nav_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 88%;
  height: 35px;
}
.Contenedor_nav_header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  height: 25px;
  margin: 2px 0px;
  padding: 3px;
}
.Contenedor_nav_header li {
  padding: 2px 5px;
  border-left: 1px solid white;
}

.Contenedor_logo_sidebar {
  display: flex;
  position: relative;
  margin-left: 5px;
}
.Contenedor_logo_sidebar:hover {
  background-color: rgb(41, 40, 40);
}
.Contenedor_logo_sidebar li {
  display: flex;
  align-items: center;
  width: 210px;
  height: 40px;
  border-top: 1px solid rgb(150, 150, 150);
}
.Contenedor_logo_sidebar li:hover {
  background-color: rgb(41, 40, 40);
}
.Contenedor_logo_sidebar li a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  margin: 15px 3px;
  padding: 2px 2px;
  color: #eeecf0;
}
.Contenedor_logo_sidebar li a:hover {
  text-decoration: underline;
  color: white;
}

.Ocultar_menu {
  display: none;
}

#Menu_desplegable {
  margin: 0px;
}

.Mostrar_menu {
  display: block;
  position: absolute;
  top: 37px;
  left: -10px;
  width: 210px;
  height: 285px;
  z-index: 1000;
  margin: 0px;
  padding: 0px;
  background-color: black;
  box-shadow: rgb(150, 150, 150) 1px 1px 1px;
}

.Mostrar_menu_user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 45px;
  z-index: 1000;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

form[name=form_buscar] {
  padding: 5px;
}

input[type=search], input[type=text], input[type=email], input[type=password] {
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  text-indent: 10px;
}

#Logo_sidebar {
  width: 30px;
  height: 30px;
}

.Contenedor_nav_header a, .Contenedor_nav_header p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #F3F3F3;
}

.Contenedor_nav_header a:hover {
  text-decoration-line: underline;
  color: #F3F3F3;
}

body {
  background-color: #F3F3F3;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  padding: 2% 1%;
  background-color: black;
}
footer h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
}
footer li a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  margin-top: 20px;
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
}
footer li a:hover {
  text-decoration: underline;
  color: white;
}
footer img {
  width: 100%;
  height: 100%;
}

.Logo_footer {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}

.footer__div-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 400px;
  height: auto;
  padding: 20px 10px;
  border-top: 1px solid white;
}

.footer_social li {
  display: inline-block;
  margin: 10px 20px 10px 30px;
  width: 40px;
}

address, address ~ p {
  margin-top: 10px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.Restaurar {
  clear: both;
}

.Separador {
  width: 98%;
  height: 50px;
  margin: 15px 5px;
  padding: 2px;
  border: solid 1px;
  border-radius: 10px;
  background-color: black;
}

.Titulo_separador {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 8px 30px 5px;
  padding: 2px 4px;
  border-left: 1px solid white;
  color: white;
}

.Nav_dolar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: auto;
  margin: 0px 5px;
  padding: 5px 10px;
  border-top: 1px solid #818691;
}

.Contenedor_menu_principal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: auto;
  overflow: hidden;
}

.Contenedor_clima {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 20%;
  height: auto;
  overflow: hidden;
}

.Contenedor_menu_principal ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  margin: 2px;
  padding: 2px;
  width: 98%;
}

.Contenedor_clima ul {
  display: flex;
  justify-content: space-around;
  height: auto;
  margin: 2px;
  padding: 2px;
  width: 98%;
}

.Contenedor_menu_principal li {
  display: flex;
  align-items: center;
  height: auto;
  padding: 2px;
  margin: 2px;
}

.Contenedor_clima li {
  display: flex;
  align-items: center;
  height: auto;
  padding: 2px;
  margin: 2px;
}

.Contenedor_clima img {
  width: 30px;
  height: 30px;
}

.Contenedor_menu_principal p, .Contenedor_clima p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
}

.Titulo_1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.7em;
  line-height: 1.2em;
  font-weight: bold;
  color: black;
}

.Titulo_noticia {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3.5em;
  line-height: 1.2em;
  margin-bottom: 10px;
  color: black;
}

.Titulo_2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
  margin-top: 5px;
  color: black;
}

.Ultimas_noticias {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
}

.Titulo_Ultimas_noticias {
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: bold;
  padding: 2px;
}

a ~ p, h1 ~ p, h3 ~ p {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.texto_noticia {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 20px;
}

.Contenedor_main {
  display: block;
  height: auto;
  padding: 5px 5px;
  margin: 5px 5px;
  border-top: 1px solid #818691;
}

.Contenedor_grid {
  display: grid;
  grid-template-rows: 280px 280px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 10px;
  justify-content: center;
  width: 98%;
  padding: 5px;
  margin: 5px;
  overflow: hidden;
}

.Grid_item1 {
  grid-row: 1/3;
  grid-column: 1/3;
  padding: 5px 15px 5px 5px;
  overflow: hidden;
  border-right: 1px solid #818691;
}

.Grid_item2 {
  grid-column: 3/4;
  overflow: hidden;
  padding: 5px;
}

.Grid_item1:hover, .Grid_item2:hover, .Grid_item4:hover, .Grid_item6:hover {
  background-color: #e3e2e4;
}

.Grid_item3 {
  grid-row: 1/3;
  grid-column: 4/5;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #818691;
  border-radius: 10px;
  background-color: #eeecf0;
}

.Grid_item4 {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 5px;
  overflow: hidden;
}

.Grid_item6 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 5px;
  overflow: hidden;
}

.Grid_item5 {
  grid-row: 1/3;
  grid-column: 2/4;
  padding: 5px 15px;
  overflow: hidden;
  border-left: 1px solid #818691;
  border-right: 1px solid #818691;
}

.Grid_item5:hover {
  background-color: #e3e2e4;
}

.Grid_item3:hover {
  background-color: #e3e2e4;
}

.Noticias {
  float: left;
  width: 77%;
  height: auto;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
  box-sizing: border-box;
}

.Economía {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 98%;
  margin: 10px 10px;
}

.Contenedor_noticia3 {
  width: 350px;
  height: auto;
  margin: 5px 5px;
  padding: 10px;
  background-color: #eeecf0;
  border: 1px solid #818691;
  border-radius: 10px;
  overflow: hidden;
}

.Contenedor_noticia3:hover {
  background-color: #e3e2e4;
}

.Economía .Titulo_1 {
  text-align: center;
}

.Economía p {
  text-align: center;
}

.Contenedor_noticia3 img {
  width: 100%;
  height: 230px;
  border-radius: 10px;
}

.Grid_item1 img, .Grid_item5 img {
  width: 100%;
  height: auto;
}

.Grid_item2 img, .Grid_item4 img, .Grid_item6 img {
  width: 100%;
  height: 190px;
  margin-top: 5px;
}

.Grid_item3 img {
  width: 100%;
  height: 210px;
  border-radius: 5px;
}

body small {
  font-size: 1em;
  font-style: italic;
}

.Grid_item1 small {
  font-size: 1em;
  font-style: italic;
}

.Grid_item2 p, .Grid_item4 p {
  margin: 5px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
}

.subtitulo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  margin-top: 20px;
}

.tag {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-decoration-line: underline;
}

.fecha {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  margin: 5px 0px 20px 10px;
}

.descripcion_imagen {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Contenedor_aside {
  float: right;
  width: 22%;
  height: 538px;
  border: solid 1px;
  border-radius: 10px;
  border-color: #818691;
  margin-top: 4px;
  padding: 10px;
  background-color: #eeecf0;
  box-sizing: border-box;
  overflow: hidden;
}
.Contenedor_aside img {
  width: 250px;
  height: 270px;
}

.imagen_nota {
  width: 850px;
  height: 550px;
}

.Contenedor_pagina_registro {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.Contenedor_imagen_registro {
  flex: 1;
  height: auto;
  overflow: hidden;
}

.imagen_registro {
  width: 100%;
  height: 640px;
}

.Contenedor_form_registro {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: auto;
  justify-content: left;
  align-content: flex-start;
  align-items: flex-start;
  background-color: #F3F3F3;
}

.Contenedor_titulo_registro {
  width: 98%;
  height: 150px;
  padding: 20px 10px 0px 10px;
}

.grid_form {
  display: grid;
  width: 96%;
  grid-template-rows: 80px 80px 80px 80px 40px 80px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.grid_form2 {
  display: grid;
  width: 96%;
  grid-template-rows: 80px 80px 80px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.grid_form1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.grid_form3 {
  grid-column: 1/3;
  grid-row: 5/6;
}

.grid_form4 {
  grid-row: 6/7;
  grid-column: 1/3;
}

.grid_form2-1 {
  grid-row: 1/2;
  grid-column: 1/3;
}

.grid_form2-2 {
  grid-row: 2/3;
  grid-column: 1/3;
}

.grid_form2-3 {
  grid-row: 3/4;
  grid-column: 1/3;
}

.grid_form1 input, .grid_form2-1 input, .grid_form2-2 input {
  width: 96%;
  height: 40px;
  border-radius: 30px;
  margin: 0px 5px;
  border: 1px solid gray;
  box-shadow: rgb(150, 150, 150) 1px 1px 2px;
}

.grid_form4 button, .grid_form2-3 button {
  width: 96%;
  height: 40px;
  border-radius: 30px;
  margin: 0px 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  color: #F3F3F3;
  text-indent: 0px;
  border: 1px solid gray;
  background-color: rgba(255, 166, 0, 0.447);
  box-shadow: rgb(150, 150, 150) 1px 1px 2px;
  transition: background-color ease-in-out 0.3s;
}

.grid_form4 button:hover, .grid_form2-3 button:hover {
  background-color: orange;
  color: white;
}

.grid_formx input {
  width: 92%;
  height: 40px;
  border-radius: 30px;
  margin: 0px 6px;
  border: 1px solid gray;
  box-shadow: rgb(150, 150, 150) 1px 1px 2px;
}

.grid_form3 input {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin: 0px 5px 0px 15px;
  border: 1px solid gray;
  box-shadow: rgb(150, 150, 150) 1px 1px 2px;
}

@media (max-width: 769px) {
  .Contenedor_menu_principal {
    height: 40px;
  }
  .Titulo_1 {
    font-size: 2.5em;
  }
  .Grid_item2 {
    grid-column: 3/5;
  }
  .Grid_item3 {
    display: none;
  }
  .Economía {
    justify-content: center;
  }
  .Grid_item5 {
    grid-column: 1/3;
    border-left: none;
  }
  .Grid_item4, .Grid_item6 {
    grid-column: 3/5;
  }
}
@media (max-width: 480px) {
  .Nav_header {
    justify-content: space-between;
  }
  .Contenedor_nav_header {
    display: none;
  }
  .Mostrar_menu li a, .Mostrar_menu li form {
    margin-left: 10px;
  }
  .Contenedor_registro {
    width: 15%;
  }
  input[type=search] {
    width: 150px;
  }
  .Contenedor_clima {
    display: none;
  }
  .Contenedor_main {
    width: 100%;
  }
  .Contenedor_menu_principal {
    width: 95%;
    height: 60px;
  }
  .Noticias {
    width: 100%;
  }
  .imagen_nota {
    height: 1fr;
  }
  .Titulo_1 {
    font-size: 2em;
  }
  .Titulo_noticia {
    font-size: 2.3em;
  }
  .Titulo_2 {
    font-size: 1em;
  }
  .descripcion_imagen {
    font-size: 0.8em;
  }
  .texto_noticia {
    font-size: 1em;
  }
  .Contenedor_grid {
    display: grid;
    grid-template-rows: auto 290px 290px;
    grid-template-columns: auto;
    gap: 0px;
    padding: 5px 3px;
    margin: 5px 3px;
    overflow: hidden;
  }
  .Grid_item1 {
    grid-row: 1/2;
    border: none;
    padding: 5px;
    overflow: hidden;
  }
  .Grid_item2 {
    grid-column: 2/3;
    overflow: hidden;
  }
  .Grid_item1:hover, .Grid_item2:hover, .Grid_item4:hover {
    background-color: #e3e2e4;
  }
  .Grid_item3 {
    display: none;
  }
  .Grid_item4 {
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 5px;
    overflow: hidden;
  }
  .Grid_item5 {
    grid-column: 1/3;
    grid-row: 1/1;
    padding: 5px;
    overflow: hidden;
    border: none;
  }
  .Grid_item6 {
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 5px;
    border-top: 1px solid #818691;
    overflow: hidden;
  }
  .Economía {
    justify-content: flex-start;
    margin: 0px;
    width: 100%;
  }
  .Contenedor_noticia3 {
    width: 410px;
    height: auto;
    margin: 5px 5px;
    padding: 10px;
    background-color: #eeecf0;
    border: 1px solid #818691;
    border-radius: 10px;
    overflow: hidden;
  }
  .Contenedor_aside {
    display: none;
  }
  .Separador {
    margin: 10px 2px;
  }
  .Contenedor_imagen_registro {
    display: none;
  }
  .Contenedor_titulo_registro {
    height: 100px;
    padding: 5px 15px;
  }
  .grid_form3 label {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
